@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication2.Models.EmployeeViewModel

<h2>Update Employee</h2>

<form asp-action="UpdateEmployee" method="post">
    <div class="form-group">
        <label for="Id">ID</label>
        <input type="text" asp-for="Id" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="EmployeeName">Name</label>
        <input type="text" asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EmployeeAge">Age</label>
        <input type="text" asp-for="EmployeeAge" class="form-control" />
        <span asp-validation-for="EmployeeAge" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update Employee</button>
</form>

